server {
    listen       {{ngx_port}};
    server_name  {{inventory_hostname}};

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
    }

    location /abc {
        root   /usr/share/nginx/html/abc;
        index  index.html index.htm;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}